*{
    padding: 10;
    margin: 20;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: floralwhite;
    font-size: 18px;
    padding: 3em 2.8em;
    width: 150vw;
    max-width: 33em;
    position: absolute;
    transform: translateX(-45%);
    left: 55%;
    top: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.3em 2.6em rgba(42,32,0,0.2);
}
.search-container{
    display:flex;
    width: 95%;
    grid-template-columns:9fr 3fr;
    gap: 5em;
}